body{
  background: #000;
  color: #eee;
  font-size: 16px;
  margin: 0;
}
.link, .nav li a{
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}
.nav li{
  display: inline-block;
  margin: 16px;
}
.link:hover{
  color: #ccc;
}
.nav{
  background: rgb(24, 85, 176);
}
.tumblr-img{
  width: 39%;
  margin: 3%;
}
.logout{
  position: absolute;
  right: 40px;
}
.addPost input, .addPost button{
  width: 40%;
  height: 40px;
  display: block;
  margin-left: 10%;
  margin-bottom: 30px;
}
.addPost button{
  background: rgb(162, 9, 69);
  color: #fff;
  font-size: 1.2rem;
  border: 0;
}
.addPost button:hover{
  background: rgb(71, 7, 71);
}
.post{
  width: 650px;
  max-width: 750px;
  margin: 30px;
  height: 400px;
  border-bottom: 1px solid;
  border-right: 1px solid;
  position: relative;
}
.post img{
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  float: left;
  display: block;
  margin-bottom: 40px;
  margin-left: 20px;
  height: 300px;
  align-self: center;
}
.post p{
  float: left;
  display: inline-block;
  width: 300px;
  margin-left: 20px;
  margin-right: 0;
  text-align: justify;
}
.post h3{
  margin-left: 20px;
}
.post button, .cBtn{
  font-size: 1.2rem;
  background: rgb(40, 142, 47);
  color: #fff;
  border: 0;
  border-radius: 2px;
}
.post button.secondButton{
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.post button.firstButton{
  position: absolute;
  bottom: 10px;
  right: 60px;
}
.post button:hover, .cBtn:hover{
  background: rgb(40, 102, 47);
}
.cBtn{
  display: block;
  margin-top: 10px;
}
textarea{
  resize: none;
  width: 200px;
  height: 20px;
  padding-top: 5px;
}
.indexImg{
  width: 200px;
  height: 200px;
  margin: 6px;
  -o-object-fit: cover;
     object-fit: cover;
}
.indexContainer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  /*flex-direction: row;*/
  margin: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
}
.dashboard h1, .dashboardFirst{
  margin-left: 46px;
}
.passwordLink *{
  color: #fff;
  text-decoration: none;
}
.postform{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.postform input, .postform button{
  display: block;
  width: 260px;
  margin: 20px 20px;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 3px;
}
.postform input{
  padding-left: 10px;
  font-size: 1.2em;
  height: 32px;
}
.postform button{
  background-color: rgb(23, 97, 173);
  color: #fff;
  border: none;
  height: 36px;
}
@media (max-width: 600px) {
  html{
    width: 100vw;
  }
  #app{
    width: 100%;
    min-width: 360px;
    overflow-x: hidden;
  }
  .indexContainer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .indexImg{
    width: 360px;
    height: 360px;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .dashboardFirst p, .passwordLink *{
    color: #fff;
    text-decoration: none;
    text-align: center;
  }
  .dashboardFirst{
    width: 400px;
    margin: 0;
  }
  h1{
    text-align: center;
    margin-top: 60px;
  }
  form{
    margin-top: 40px;
    text-align: center;
  }
  form input{
    display: block;
    font-size: 1.6em;
    margin: 20px auto;
    padding-left: 10px;
  }
  form input[type=text], button[type=submit] {
    margin: 20px auto;
    font-size: 1.6em;
    width: 60%;
  }
  .post{
    max-width: 500px;
    width: 96%;
    margin: 10px auto;
    min-height: 540px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    position: relative;
    border-right: none;
  }
  .post button.secondButton{
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  .post button.firstButton{
    position: absolute;
    bottom: 20px;
    left: 80px;
  }
  textarea{
    margin: 0 20%;
    width: 60%;
  }
  .logout{
    position: absolute;
    right: 5vw;
  }
  .post p{
    width: 90%;
    height:80px;
    line-height:20px;
    overflow:hidden;
  }
  .post img{
    width: 90%;
    margin-bottom: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .tumblr-img{
    width: 76%;
    margin: 10px;
    padding: 60px;
  }
}
